@mixin themable($themes) {
  @each $name, $theme in $themes {
    .#{$name}-theme {
      $color: map-get(
        $map: $theme,
        $key: "color"
      );
      .TitleBar {
        background-color: map-get($map: $theme, $key: "TitleBar");
        color: $color;
      }
      .ContentContainer {
        $top: map-get(
          $map: $theme,
          $key: "top"
        );
        $bottom: map-get($theme, "bottom");
        background-image: linear-gradient(to bottom, $top, $bottom);
        color: $color;
      }
      .Button {
        $bg: map-get(
          $map: $theme,
          $key: "top"
        );
        background: $bg;
        color: $color;
        &:hover {
          background: darken($color: $bg, $amount: 5%);
        }
      }
      .modal-container {
        $top: map-get(
          $map: $theme,
          $key: "top"
        );
        $bottom: map-get($theme, "bottom");
        color: $color;
        background-image: linear-gradient(to bottom, $top, $bottom);
        .Button{
          color: $color;
          background-color: white;
          opacity: 72%;
        }
      }
    }
  }
}
