.MainContent {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 0.7fr 0.3fr;
  background-color: #ffffff;
  color: #353535;
  border-radius: 55px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.6), 0 18px 32px 0 rgba(0, 0, 0, 0.3);
  padding: 45px 210px;
  opacity: 0.82;
  font-size: 24px;
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .col-1 {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .col-2 {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  .col-3 {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .Button {
    position: absolute;
    padding: 10px;
    bottom: 80px;
    font-family: "title-bar";
    left: auto;
    right: auto;
    cursor: pointer;
    box-shadow: 0 8px 12px gray;
    &:hover {
      box-shadow: 0 10px 16px gray;
    }
  }
  .data {
    label {
      font-size: 28px;
      font-family: "text-placeholder";
    }
    span {
      margin-left: 25px;
      font-family: "text-value";
      font-size: 25px;
    }
  }
}
